/*Estilos pagina message.php*/
#bodyMessages{
    display: flex;
    flex-direction: column;
}

#headerMessages{
    display: flex;
    position: fixed;
    top: 0;
    width: 95%;
    
    flex-direction: row;
    justify-content: space-between;
}

#matchMessages {
    padding-top: 10%;
    margin-bottom: 20%;
}

#matchBox{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 20%;
}

#messageBox{
    text-align: center;
    margin: 0 auto;
    padding-top: 22%;
    margin-bottom: 70%;
}

#footerMessages{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}

#footerMessages h3{
    margin-top: auto;
    text-align: center;
    padding: 0;
}

#footerMessages h3 a{
    text-decoration: none;
    color: black;
}